<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Custom Login Form</title>
  <link rel="stylesheet" href="assets/css/styleLogin.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <script>
    function Check() {
      var userid = document.getElementsByName('email')[0].value;
      console.log(userid);
    }
  </script>
</head>

<body>
  <div class="wrapper">
    <div class="join">登入JooyIn</div>
    <% if(error){ %>
    <%= error%>
    <% } %>
    <div class="clr"></div>

    <form method="post" action="/loginPage">
      <div class="forms">
        <input name="email" type="text" placeholder="Email" size="30" onClick="border: 1px solid #30a8da;" id="mail"><br>
        <input name="password" type="password" placeholder="密碼" size="30" onClick="border: 1px solid #30a8da;" id="password">
        <input class="remember-checkbox" type="checkbox">
        <p class="remember-p">記住我</p>
      </div>
      <!--<a class="create-acc" href="maingroup">登入</a>-->
      <!--<a class="create-acc" type="submit" onclick="Check();">登入</a>-->
      <button class="create-acc" type="submit" onclick="Check();">登入</button>
    </form>

    <p class="login-options"><a href="#">忘記密碼</a>?或趕快<a href="signupPage">立即註冊</a></p>
    <div class="clr">
      <hr/>
    </div>
    <div class="login-options">使用facebook帳號快速登入</div>
    <a class="facebook" href="#">Facebook</a>
  </div>
</body>

</html>